<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <form class="add-text">
          <input placeholder="Add item" class="add-input" type="text" />
          <button>Enter</button>
        </form>
      </div>
      <div class="item-list">
        <ul class="todos">
          <!-- <li id="one">
            <input type="checkbox" />
            <p>Item one</p>
            <button class="edit-button">edit</button>
            <button>delete</button>
          </li>
          <li id="two">
            <input type="checkbox" />
            <p>Item two</p>
            <button class="edit-button">edit</button>
            <button>delete</button>
          </li>
          <li id="three">
            <input type="checkbox" />
            <p>Item three</p>
            <button class="edit-button">edit</button>
            <button>delete</button>
          </li> -->
        </ul>
      </div>
      <button class="clear-button">Clear completed</button>
    </div>
  </body>
</html>
