<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <form class="add-text">
          <input placeholder="Add item" class="add-input" type="text" />
          <button>Enter</button>
        </form>
      </div>
      <div class="item-list">
        <ul class="todos"></ul>
      </div>
      <button class="clear-button">Clear completed</button>
    </div>
  </body>
</html>
